#game-board {
    padding: 0;
    margin: 0;
    width: 10em;
    background-color: darkgrey;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}
span {
    justify-content: space-around;
    display: inline-block;
    background-color: beige;
    flex-grow: 1;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: 1em;
    line-height: 3em;
    border: solid 1px black;
}